call_venv
.venv
llm_venv
new-venv
new-venv
new-venv
./new-venv
test_venv
venv
__pycache__
*.pyc
*.pyo
*.pyd       
src/test_env/
src/__pycache__/main.cpython-310.pyc
src/__pycache__/__main__.cpython-310.pyc
ioulinette
